<?xml version="1.0"?>
<launch>
  <include file="$(find bringup)/launch/common.launch"/>  

  <remap from="/scanmatch_odom" to="/odom"/>
  <node pkg="hector_mapping" type="hector_mapping" name="hector_mapping" output="screen">
    <param name="map_update_angle_thresh" value="12.566"/>
    <param name="map_frame" value="map"/>
    <param name="pub_map_scanmatch_transform" value="false"/>
    <param name="pub_odometry" value="true"/>
    <param name="laser_max_dist" value="4"/>
  </node>

  <!-- Static Transform for odom to base_link frames -->
  <node pkg ="tf" type="static_transform_publisher" name="static_odom_to_base_link" args="0.0 0.0 0.0 0.0 0.0 0.0 /odom /base_link 50"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find bringup)/launch/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find bringup)/launch/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find bringup)/launch/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find bringup)/launch/global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find bringup)/launch/base_local_planner_params.yaml" command="load" />
  </node>
  
  <node pkg="explore_lite" type="explore" name="explore" output="screen">
    <param name="visualize" value="true"/>
    <param name="costmap_topic" value="map"/>
    <param name="costmap_updates_topic" value="map_updates"/>
    <param name="min_frontier_size" value="0.75"/>
  </node>
 
</launch>
