<launch>
  <include file="$(find bringup)/launch/common.launch"/>  

  <node pkg="hector_mapping" type="hector_mapping" name="hector_mapping" output="screen">
    <param name="map_update_angle_thresh" value="12.566"/>
  </node>
  <!-- Static Transform for odom to base_link frames -->
  <node pkg ="tf" type="static_transform_publisher" name="static_odom_to_base_link" args="0.0 0.0 0.0 0.0 0.0 0.0 /odom /base_link 50"/>
</launch>
